<Layouts.app flash={@flash}>
  <.header>
    New Product ingredient
    <:subtitle>Use this form to manage product_ingredient records in your database.</:subtitle>
  </.header>

  <.product_ingredient_form
    changeset={@changeset}
    action={~p"/product_ingredients"}
    return_to={~p"/product_ingredients"}
  />
</Layouts.app>
