<.form :let={f} for={@changeset} action={@action}>
  <.input field={f[:dosage_amount]} type="number" label="Dosage amount" step="any" />
  <footer>
    <.button variant="primary">Save Product ingredient</.button>
    <.button :if={@return_to} href={@return_to}>Cancel</.button>
  </footer>
</.form>
